head
	meta(charset="UTF-8")
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(name='MobileOptimized', content='320')
	meta(name='HandheldFriendly', content='true')
	//- link(href="css/normalize.css",rel="stylesheet")
	//- link(href="css/foundation.min.css",rel="stylesheet")